*::before, *::after, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    margin: 0;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.cell{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cell:first-child{
    border-top: none;
    border-left: none;
}

.cell:nth-child(2) {
    border-top: none;
}

.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(n + 3){
    border-right: none;
}

.cell:nth-child(3n + 1){
    border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: none;
} 

.restart {
    position: absolute;
    top: 70%;
    border-radius: 10px;
    border: none;
    font-size: 2rem;
    padding: 15px;
    background-color: rgb(78, 75, 75);
    color: white;
    box-shadow: 2px 5px 1px 1px lightgrey;
}

.restart:hover{
    cursor: pointer;
    transition: .3s ease;
    color:rgb(78, 75, 75);
    background-color: rgb(170, 167, 167);
}

.cell:hover {
    cursor: pointer;
}



.cell.X_TURN::before, 
.cell.X_TURN::after {
    content: '';
    width: calc(var(--mark-size) * .15);
    height: calc(var(--mark-size));
    background-color: black;
    border-radius: 10px;
    position: absolute;
}

.cell.X_TURN::before {
    rotate: 45deg;
}

.cell.X_TURN::after{
    rotate: -45deg;
}


.cell.O_TURN::before, 
.cell.O_TURN::after {
    content: '';
    width: calc(var(--mark-size));
    height: calc(var(--mark-size));
    background-color: black;
    border-radius: 50%;
    position: absolute;
}

.cell.O_TURN::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: white;
}

.winner {
    position: relative;
    top: -50%;
    font-size: 5em;
    color: white;
    background-color: lightgrey;
    
}

.cell.O_TURN, .cell.X_TURN {
    cursor: not-allowed;
}

fieldset {
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 250px;
}